In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r"./labeledTrainData.tsv", sep='\t', escapechar='\\')
data2 = pd.read_csv(r"./imdb_train_test.tsv", sep='\t', escapechar='\\')

In [3]:
data.head()

       id  label                                           sentence
0  5814_8      1  With all this stuff going down at the moment w...
1  2381_9      1  "The Classic War of the Worlds" by Timothy Hin...
2  7759_3      0  The film starts with a manager (Nicholas Bell)...
3  3630_4      0  It must be assumed that those who praised this...
4  9495_8      1  Superbly trashy and wondrously unpretentious 8...

In [4]:
data2.head()

                                            sentence  label
0  Bromwell High is a cartoon comedy. It ran at t...      1
1  Homelessness (or Houselessness as George Carli...      1
2  Brilliant over-acting by Lesley Ann Warren. Be...      1
3  This is easily the most underrated film inn th...      1
4  This is not the typical Mel Brooks film. It wa...      1

In [5]:
new_sentences = pd.DataFrame()

In [6]:
new_sentences['sentence'] = data2['sentence'].append(data['sentence'])

In [7]:
new_sentences.head()

                                            sentence
0  Bromwell High is a cartoon comedy. It ran at t...
1  Homelessness (or Houselessness as George Carli...
2  Brilliant over-acting by Lesley Ann Warren. Be...
3  This is easily the most underrated film inn th...
4  This is not the typical Mel Brooks film. It wa...

In [8]:
len(new_sentences)

75000

In [9]:
new_sentences['label']=data2['label'].append(data['label'])

In [10]:
new_sentences.head()

                                            sentence  label
0  Bromwell High is a cartoon comedy. It ran at t...      1
1  Homelessness (or Houselessness as George Carli...      1
2  Brilliant over-acting by Lesley Ann Warren. Be...      1
3  This is easily the most underrated film inn th...      1
4  This is not the typical Mel Brooks film. It wa...      1

In [13]:
new_sentences.to_csv('all_data.tsv',sep='\t',index=False)

In [25]:
new_sentences = pd.DataFrame()

In [33]:
pos = pd.read_csv(r"./pos.csv")

In [34]:
pos.head()

                                            sentence
0  做父母一定要有刘墉这样的心态，不断地学习，不断地进步，不断地给自己补充新鲜血液，让自己保持一...
1  作者真有英国人严谨的风格，提出观点、进行论述论证，尽管本人对物理学了解不深，但是仍然能感受到...
2  作者长篇大论借用详细报告数据处理工作和计算结果支持其新观点。为什么荷兰曾经县有欧洲最高的生产...
3  作者在战几时之前用了＂拥抱＂令人叫绝．日本如果没有战败，就有会有美军的占领，没胡官僚主义的延...
4  作者在少年时即喜阅读，能看出他精读了无数经典，因而他有一个庞大的内心世界。他的作品最难能可贵...

In [35]:
neg = pd.read_csv(r"./neg.csv")
neg.head()

                                            sentence
0  做为一本声名在外的流行书，说的还是广州的外企，按道理应该和我的生存环境差不多啊。但是一看之下...
1  作者有明显的自恋倾向，只有有老公养不上班的太太们才能像她那样生活。很多方法都不实用，还有抄袭...
2  作者完全是以一个过来的自认为是成功者的角度去写这个问题，感觉很不客观。虽然不是很喜欢，但是，...
3       作者提倡内调，不信任化妆品，这点赞同。但是所列举的方法太麻烦，配料也不好找。不是太实用。
4                  作者的文笔一般，观点也是和市面上的同类书大同小异，不推荐读者购买。

In [36]:
neg = neg.drop_duplicates()

In [37]:
neg.head()

                                            sentence
0  做为一本声名在外的流行书，说的还是广州的外企，按道理应该和我的生存环境差不多啊。但是一看之下...
1  作者有明显的自恋倾向，只有有老公养不上班的太太们才能像她那样生活。很多方法都不实用，还有抄袭...
2  作者完全是以一个过来的自认为是成功者的角度去写这个问题，感觉很不客观。虽然不是很喜欢，但是，...
3       作者提倡内调，不信任化妆品，这点赞同。但是所列举的方法太麻烦，配料也不好找。不是太实用。
4                  作者的文笔一般，观点也是和市面上的同类书大同小异，不推荐读者购买。

In [38]:
pos = pos.drop_duplicates()
pos.head()

                                            sentence
0  做父母一定要有刘墉这样的心态，不断地学习，不断地进步，不断地给自己补充新鲜血液，让自己保持一...
1  作者真有英国人严谨的风格，提出观点、进行论述论证，尽管本人对物理学了解不深，但是仍然能感受到...
2  作者长篇大论借用详细报告数据处理工作和计算结果支持其新观点。为什么荷兰曾经县有欧洲最高的生产...
3  作者在战几时之前用了＂拥抱＂令人叫绝．日本如果没有战败，就有会有美军的占领，没胡官僚主义的延...
4  作者在少年时即喜阅读，能看出他精读了无数经典，因而他有一个庞大的内心世界。他的作品最难能可贵...

In [39]:
new_sentences['sentence']=pos['sentence'].append(neg['sentence'])

In [40]:
new_sentences.head()

                                            sentence
0  做父母一定要有刘墉这样的心态，不断地学习，不断地进步，不断地给自己补充新鲜血液，让自己保持一...
1  作者真有英国人严谨的风格，提出观点、进行论述论证，尽管本人对物理学了解不深，但是仍然能感受到...
2  作者长篇大论借用详细报告数据处理工作和计算结果支持其新观点。为什么荷兰曾经县有欧洲最高的生产...
3  作者在战几时之前用了＂拥抱＂令人叫绝．日本如果没有战败，就有会有美军的占领，没胡官僚主义的延...
4  作者在少年时即喜阅读，能看出他精读了无数经典，因而他有一个庞大的内心世界。他的作品最难能可贵...

In [41]:
len(new_sentences)

16764

In [42]:
len(pos)

8711

In [44]:
len(neg)

8053

In [47]:
label = []
for i in range(len(pos)):
    label.append(1)

for i in range(len(neg)):
    label.append(0)
len(label)

16764

In [48]:
new_sentences['label']=label

In [49]:
new_sentences.head()

                                            sentence  label
0  做父母一定要有刘墉这样的心态，不断地学习，不断地进步，不断地给自己补充新鲜血液，让自己保持一...      1
1  作者真有英国人严谨的风格，提出观点、进行论述论证，尽管本人对物理学了解不深，但是仍然能感受到...      1
2  作者长篇大论借用详细报告数据处理工作和计算结果支持其新观点。为什么荷兰曾经县有欧洲最高的生产...      1
3  作者在战几时之前用了＂拥抱＂令人叫绝．日本如果没有战败，就有会有美军的占领，没胡官僚主义的延...      1
4  作者在少年时即喜阅读，能看出他精读了无数经典，因而他有一个庞大的内心世界。他的作品最难能可贵...      1

In [50]:
new_sentences.to_csv('all_chinese_data.tsv',sep='\t',index=False)